<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/edit-cards.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="navbar-container">
      <nav class="navbar navbar-expand navbar-dark" aria-label="Second navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">DevKit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/note">Create Note</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/card/{{NoteId}}">Create Flash Cards</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="login-container">
          <button class="login-button" type="submit"><a href="/logout">Logout</a></button>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <section>
      <h1 class="title">Current Cards</h1>
      {{#Cards}}
          <div class="flashcard-container">
            <div class="flashcard">
              <div class="front-face">
                <div class="flashcard-content">
                  <p><b>Question:</b></p>
                  <p class="front-content">{{Question}}</p>
                  <p><b>Answer:</b></p>
                  <p class="front-content">{{Answer}}</p>
                  <div class="mod-button-container">
                    <a class="mod-button edit-btn" href=""><i class="fas fa-pencil-alt"></i> Edit Card</a>
                    <a class="mod-button" href="/card/{{NoteId}}/edit_cards/delete_card/{{id}}"><i class="fas fa-trash-alt"></i> Delete Card</a>
                  </div>
                </div>
              </div>
              <div class="back-face">
                <form class="edit-form" action="/card/{{NoteId}}/edit_cards/{{id}}" method="POST">
                  <div class="flashcard-content">
                    <p><b>New Question:</b></p>
                    <input type="text" value="{{Question}}" class="edit-input" name="Question"></input>
                    <p><b>New Answer:</b></p>
                    <input type="text" value="{{Answer}}" class="edit-input" name="Answer"></input>
                    <input type="hidden" name="id" value="{{id}}">
                    <div class="mod-button-container2">
                      <button type="submit" class="mod-button"><a>Submit Changes</a></button>
                      <button class="mod-button exit-btn"><a>Exit</a></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      {{/Cards}}
    </section>
  </main>

  <script src="https://kit.fontawesome.com/475ca97fa3.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <script src="/js/edit-cards.js"></script>
</body>
</html>