body {
	padding-bottom: 20px;
	background-color: rgb(230, 226, 226);
}

.login-button {
	margin-right: 10px;
	border: black;
	border-radius: 4px;
	background-color: #b1d4e0;
	text-decoration: none;
	transition: all 0.3s ease;
}

.login-button:hover {
	background-color: black;
}

.login-button:hover > a {
	color: white;
}

.login-button > a {
	text-decoration: none;
	color: black;
	transition: all 0.3s ease;
}

.login-button > a:hover {
	color: white;
}

.login-button:active {
	box-shadow: 1px 2px 3px rgb(56, 57, 58);
	border: none;
}

.nav-link1 {
	display: flex;
	object-position: right;
}

.navbar {
	background-color: #145da0;
	font-size: 1rem;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: rgb(230, 226, 226);
	margin-top: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	width: 70vw;
	background-color: #2e8bc0;
	padding: 100px 100px 100px 100px;
	margin: 0px 200px 0px 200px;
	border-radius: 5px;
	box-shadow: 4px 5px 6px rgb(162, 165, 169);
	overflow: none;
}

.card-heading {
	font-size: 3rem;
	color: white;
}

.note-label {
	padding: 5px 0px 5px 0px;
	margin: 5px 0px 5px 0px;
}
.note-input {
	padding: 14px;
	margin: 10px 0px 10px 0px;
	width: 100%;
	border-radius: 22px;
	border: none;
	outline: none;
	font-size: 20px;
}
.note-input:hover {
	box-shadow: 3px 4px 5px rgb(87, 87, 87);
}

.note-description {
	padding: 14px;
	margin: 10px 0px 10px 0px;
	width: 100%;
	height: 65%;
	border-radius: 22px;
	border: none;
	outline: none;
	font-size: 20px;
}

.note-description:hover {
	box-shadow: 3px 4px 5px rgb(87, 87, 87);
}

.note-button {
	padding: 10px;
	text-align: center;
	margin: 10px;
	width: 125px;
	font-size: 20px;
	background: black;
	color: white;
	border: 0.5px solid rgb(46, 46, 46);
	border-radius: 10px;
	transition: all 0.3s ease;
}
.note-button:hover {
	background-color: #b1d4e0;
	color: black;
}

.note-button:active {
	box-shadow: 1px 2px 3px rgb(56, 57, 58);
	border: none;
}

.view-link {
	color: white;
	text-decoration: none;
	transition: all 0.3s ease;
}

.note-button:hover .view-link {
	color: black;
}

.view-link:hover {
	color: black;
}

.note-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 15px 15px 15px;
	margin: 15px 15px 15px 15px;
	background-color: #b1d4e0;
	font-size: 20px;
	height: 350px;
	width: 70vw;
	overflow: auto;
	border-radius: 5px;
	box-shadow: 3px 4px 5px rgb(110, 112, 114);
}

.note {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	word-break: break-all;
}

.note-heading {
	margin-top: 12px;
	font-size: 3rem;
	text-decoration: underline;
}

.note-ul {
	padding: 5px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.note-li {
	list-style-type: none;
}

.note-btn {
	border-radius: 4px;
	background-color: #0c2d48;
	color: white;
	transition: all 0.3s ease;
	padding: 0.3rem 1rem;
	border: none;
	transition: all 0.3s ease;
}

.note-btn:hover {
	background-color: #2e8bc0;
}

.note-btn:hover .note-button-link {
	color: black;
}

.note-btn-link {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease;
}

.note-btn-link:hover {
	color: black;
}

i {
	margin-right: 5px;
}

@media (max-width: 720px) {
	.card {
		padding: 20px;
		height: 70vh;
	}

	.card-heading {
		font-size: 2rem;
	}

	.note-description {
		height: 60%;
	}

	.note-button {
		font-size: 15px;
	}
}
